config/environment-variables/.env.*.dev*
config/environment-variables/.env.*.prod*

*/dist
**/node_modules
**/package-lock.json
*/.env
*/.env.local
.vs

**/prisma/schemas

*.zip

# macOS
app/.DS_Store

dbml